
<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
<body>
	<div class='container'>
		<div class='row'>
		<!-- サイド -->

		<%= render 'users/list', users: @users %>

		<!-- サイド -->
			<div class='col-xs-9'>
			<p id="notice">
				<%= notice %>
			</p>
			<% if @book.errors.any? %>
				<h2><%= @book.errors.count %>error</h2>
				<%= @book.errors.full_messages.each do |message| %>
					<%= message %>
				<% end %>
			<% end %>

			<h2 style='color: green;'><span class="glyphicon glyphicon-book" aria-hidden="true" style='color: green;'></span> Books</h2>


			<table class="table table-space col-xs-12">
				<thead>
				    <tr>
				      <th class="test">User</th>
				      <th>Title</th>
				      <th>Opinion</th>
				    </tr>
			  </thead>


			<tbody>
			<% @books.each do |book| %>
				<tr>
					<td class="test">
						<%= link_to user_path(book.user.id) do %>
							<%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb user_image" %>
						<% end %>
					</td>
					<td><%= link_to book.title, book_path(book.id), class: "user_#{book.id}" %></td>
					<td><%= book.body %></td>
				</tr>
			<% end %>
			</tbody>

			</table>


			</div>
		</div>
	</div>
</body>

